body{
    margin: 0;
    padding: 0;
}

#login{
    width: 49%;
    height:  100vh;
}
#register{
    width: 49%;
    height:  100vh;
}
#logout{
    margin-right: 20%;
}
header>p{
    margin-top: 50%;
}
.align{
    display: inline-block;
    font-size: 150%;
    color: #1E6EA9;
    text-align: center;
}
header{
    position: fixed;
    width: 100%;
    top:1%;
    font-size: 150%;
    color: #1E6EA9;

}
#title{
    margin-left: 30%;
    font-size: 170%;
    font-weight: bold;
}

#login:hover{
    opacity:0.5;
    transition:0.5s;
    background: black;
}
#register:hover{
    opacity:0.5;
    transition:0.5s;
    background: blue;
}