body {

    margin: 0;
    padding: 0;

}

#welcome {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: baseline;
    align-items: center;
    align-content: stretch;
   }

#logoutButton {

    color: white;
    font-weight: bold;
    font-size: 30px;
    float: right;
    text-decoration: none;

}



.img_file {
    color: #395870;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    position: relative;
    width: 20%;
    display: inline-block;
    padding: 2%;
}

.img {

    width: 50%;
}

#logout {

    position: relative;

    text-decoration:none;
    margin-left: 5%;
    color:#1E6EA9;

}

.fieldsetSend {

    width: auto;

}

h1 {

    color: #395870;
    font-weight: bold;
    margin-left: 5%;

}

.sendFile input {

    margin: 0 2% 0 2%;

    box-shadow: 1px 1px 12px #555;

}

.sendFile label {

    padding-bottom: 25px;
    color: #395870;

}


#formAccount {

    position: relative;
    float: right;

}

.bouton p {
    color: #395870;

}

.bouton a {

    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}

#legendDrop {

    color: #395870;

}

#legendAccount {

    color: #395870;

}

.buttonNone {

    display: none;

}

.alignButton {

    display: inline-block;
}

.statutMsg {

    position: relative;
    color: #425B8A;
    left: 40%;
    width: 60%;

}
.none{
    display: none;
}

.container_img{
}
header{
    width: 100%;
    top:1%;
    font-size: 150%;
    color: #1E6EA9;
    height: 10vh;

}
#title{

    font-size: 170%;
    font-weight: bold;
    margin-left: 30%;
  }

.sendFile input[name="new_name"]{
    margin-left: 12%;
    text-align: center;

}
.sendFile input[name="submit_rename"] {
    margin: 1% 15%;

}

#formDelete{
    display: inline-block;
    margin: 5%;
}
#blockError{
    height: 10px;
    color: red;
    font-weight: bold;
}
#welcomeSession{
    margin-left: 2%;
}

#titleLogout{
    margin-left: 20%;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content/Box */
.modal-content {
    display: none;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
      width: 80%; /* Could be more or less, depending on screen size */
}

textarea{
    margin-top: 5%;
    width: 80%;
    height: 70vh;

}
.show{
    display: block;
}
.align{
    display: inline-block;
}